@import 'themes';
.muted {
  color: rgba(128,128,128,0.5);
  font-size: 0.75em;
}
.center {
  text-align: center;
  vertical-align: middle;
}

.link {
  text-decoration: none;
  @each $theme, $map in $themes {
    .#{$theme} & {
      color: darken(map-get($map, color), 60%);
    }
  }
}
